@import "../helpers/variables";

.historyBox {
	background-color: lighten($base-color, 70%);
	& .historyTitle {
		padding: $default-gap*1.5 0;
		margin: 0;
	}
	& .historyList .historyItem {
		border-top: solid 1px lighten($base-color, 55%);
		padding:$default-gap/2;
		& p {
			margin:0;
			width:auto;
		}
		& .timestamp {
			color: lighten($base-color, 20%);
		}
	}
}