@import "../helpers/variables";

.mainBox, .timerBox {
	height: auto;
	padding: $default-gap;
}
.timerBox {
	width: $timer-width;
	margin-left:auto;
	margin-right: auto;
	@media screen and (max-width:$screen-medium){
		width:100%
	}
	& .timerBtns .button {
		width:31%;
		margin-right: (100% - 31*3)/2;
		margin-bottom: 0;
		&:last-child{
			margin-right: 0;
		}
	}
	& .countdownBox .digits{
		margin: $default-gap*2 0;
		font-size: 77px;
	}
}