$default-gap: 10px;

// screen
$screen-large: 1200px;
$screen-medium: 850px;
$screen-small: 400px;

// Colors
$base-color: #676758; //dark gray
$button-color: #446CB3; // royal blue

// Timer width
$timer-width: 700px;